In [1]:
#Importando librerias
import matplotlib as mplt
import pandas as pd
import numpy as np
#Cargando datos en frame
newDataSet = pd.read_csv('./covid-data/200511COVID19MEXICO.csv')
globaldir= './csv/'

In [7]:
#PRIMERA PARTE
#Variables tabla1 : Sonora 26, Positivo 1,  
entidad = 26;
resultadoCovid = 1
nameFileSonoraConf = globaldir+'tabla1.csv'
#Filtrado de datos
confirmadosSonora =  pd.DataFrame(newDataSet[(newDataSet['ENTIDAD_RES'] == entidad) & (newDataSet['RESULTADO'] == resultadoCovid)])
#Creacion de nuevo campo Defuncion
confirmadosSonora['DEFUNCION'] = np.where(confirmadosSonora['FECHA_DEF']=='9999-99-99', 0, 1) 
#seleccionando columnas [ENTIDAD_RES,FECHA_SINTOMAS,DEFUNCION]
sonoraConfirmados = pd.DataFrame(confirmadosSonora[['FECHA_SINTOMAS','RESULTADO','DEFUNCION']])
#Agrupor por fecha Sintoma
sonoraAgrupados = sonoraConfirmados.groupby('FECHA_SINTOMAS').sum('DEFUNCION','RESULTADO').reset_index()
#Ordenar por fecha de sintomas
ordenCasosMexico = sonoraAgrupados.sort_values('FECHA_SINTOMAS')
#Cambio de nombre columnas
hospSonChNLPuAgrupados.columns = ['Fecha Sintomas','Casos','Defunciones']

ordenCasosMexico
#Grabar tabla1.csv
#Quitar comentario para generar archivo -----------------
#ordenCasosMexico.to_csv(nameFileSonoraConf,index=False)
#--------------------------------------------------------

   FECHA_SINTOMAS  RESULTADO  DEFUNCION
0      2020-03-11          2          0
1      2020-03-12          2          0
2      2020-03-13          1          0
3      2020-03-16          2          0
4      2020-03-17          4          0
5      2020-03-18          1          0
6      2020-03-19          2          0
7      2020-03-20          2          1
8      2020-03-22          2          1
9      2020-03-23          2          0
10     2020-03-24          3          1
11     2020-03-25          2          0
12     2020-03-26          4          0
13     2020-03-27          5          2
14     2020-03-28          5          2
15     2020-03-30          1          1
16     2020-03-31          4          1
17     2020-04-01         12          2
18     2020-04-02          2          0
19     2020-04-03          5          1
20     2020-04-04          9          1
21     2020-04-05          5          0
22     2020-04-06         18          1
23     2020-04-07          6          0
24     2020-04-08         10          1
25     2020-04-09         11          2
26     2020-04-10         12          2
27     2020-04-11          7          2
28     2020-04-12          6          0
29     2020-04-13          8          2
30     2020-04-14         10          2
31     2020-04-15          3          0
32     2020-04-16         14          2
33     2020-04-17         13          0
34     2020-04-18         15          1
35     2020-04-19         12          0
36     2020-04-20         22          1
37     2020-04-21         12          0
38     2020-04-22         17          0
39     2020-04-23         22          1
40     2020-04-24         22          0
41     2020-04-25         20          0
42     2020-04-26         19          0
43     2020-04-27         22          1
44     2020-04-28         21          0
45     2020-04-29         20          0
46     2020-04-30         28          1
47     2020-05-01         26          1
48     2020-05-02         23          0
49     2020-05-03         18          0
50     2020-05-04         16          0
51     2020-05-05          6          0
52     2020-05-06          4          0
53     2020-05-07          1          0

In [54]:
#VARIABLES 
nameFileSonChPbNlConf = globaldir+'tabla2.csv'
entidadesHosp = [26,19,8,21]
tipoPaciente = 2
#----SEGUNDA PARTE FECHA_INGRESO----
#Filtro por entidades Sonora, Puebla, Nuevo leon, Chihuahua
hospSonChNLPu = pd.DataFrame(newDataSet[ (
    (newDataSet['ENTIDAD_RES'] == entidadesHosp[0]) |
    (newDataSet['ENTIDAD_RES'] == entidadesHosp[1]) |
    (newDataSet['ENTIDAD_RES'] == entidadesHosp[2]) |
    (newDataSet['ENTIDAD_RES'] == entidadesHosp[3]) ) & 
    (
    (newDataSet['FECHA_INGRESO'] != '9999-99-99') & (newDataSet['FECHA_INGRESO'] != '') 
    ) &
    (newDataSet['TIPO_PACIENTE'] == tipoPaciente)
    ])
#Obtener solo columnas entidades y tipo
hospEntidades = pd.DataFrame(hospSonChNLPu[['ENTIDAD_RES','TIPO_PACIENTE']])
#Agrupar y contar registros por entidad
hospSonChNLPuAgrupados = hospEntidades.groupby('ENTIDAD_RES')['TIPO_PACIENTE'].count().reset_index()
#Cambio de nombre de entidades 
hospSonChNLPuAgrupados["ENTIDAD_RES"].replace({26: "Sonora", 21: "Puebla",19:"Nuevo Leon", 8:"Chihuahua"}, inplace=True)
#Cambio de nombre de columnas
hospSonChNLPuAgrupados.columns = ['Estados','Hospitalizados']
hospSonChNLPuAgrupados
#Grabar tabla2.csv
#Quitar comentario para generar archivo -----------------
#hospSonChNLPuAgrupados.to_csv(nameFileSonChPbNlConf,index=False)
#--------------------------------------------------------

      Estados  Casos
0   Chihuahua   1013
1  Nuevo Leon   1065
2      Puebla   1295
3      Sonora    604